<div id="player" class="alert alert-danger">
    <div class="progress">
      
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only">60% Complete</span>
      </div>
      
    </div>
   
    <div id="song-title">Loading Music Player...</div>

 
   
        <button type="button" class="btn btn-default btn-sm" onclick="widget.prev()">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>

         <button type="button" class="btn btn-default btn-sm" onclick="widget.toggle()">
            <span class="glyphicon glyphicon-play player-play"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm" onclick="widget.pause()">
            <span class="glyphicon glyphicon-stop"></span>
        </button>

        <button type="button" class="btn btn-default btn-sm" onclick="widget.next()">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>

</div>

<section>

  <ul class="list-group">
      <!-- Where our Songs will go -->
  </ul>

</section>