
<span>
  <img src="<%= artwork %>" alt="artwork" class="img-thumbnail" width="60" height="60">
  <%= title  %> <span class="glyphicon glyphicon-play play hidden"></span>
  <button type="button" class="btn btn-default btn-xs pull-right drop waveOn">
      <span class= "glyphicon glyphicon-tint"></span>
  </button>
</span>