$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
   background: url('../images/space.jpg') center fixed;
   background-size: cover;
   color: #fafafa;

}

.container {
    width: 100%;
}

.header {
  display: block;
  height: 90%;
  width: 100%;
  min-width: 400px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin-bottom: -40px;
}

.header .img-responsive {
  opacity: 0.5;
  min-height: 89%;
  max-height: 90%;
  min-width: 400px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
.header .row {
  height: 100%;
}

#icons-container {
  position: relative;
  text-align: center;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 45px;
  margin-left: 2%;
  border-radius: 8px;
}

#youtube-icon {

  opacity: 0.6;
  background: lightgrey;

}

#facebook:hover {
  opacity: 0.7;
  background: lightgrey;
}
#youtube-icon:hover {
  opacity: 0.8;
  background: darkgrey;
}
#twitter:hover {
  opacity: 0.7;

}
#instagram:hover {
  opacity: 0.7;
  background: lightgrey;
}
#soundCloud:hover {
  opacity: 0.7;

}

#media {
  margin-top: 5%;
  max-height: 50%;
  overflow: hidden;

}
#media .row {

}

.list-group {
    position: relative;
    list-style: none;
    color: black;
     
}

#songs {
    overflow: scroll;
}

#video-container {
    background: url('../images/youtube-blur.jpg') center;
    background-size: cover;
}
#video-container:hover {
  background: url('../images/youtube.jpg') center;
  background-size: cover;
}
#test {
    
}

#player {
  border-radius: 5px;
  background: url('../images/funky.jpg') center;
  padding: 10px;
  text-align: center;
}

#player {

  .btn {
    background-color: lightgrey;
    opacity: 0.9;
  }
  .btn:hover {
    background-color: grey;
    opacity: 0.9;
  }
}

#frame {
  overflow: hidden;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
}

#song-title {
    text-shadow: 2px 2px 2px grey;
    margin-bottom: 5px;
}

#grey {
  margin-top: -60px;
}

#logo {

}

#soundPlayer {


}

#da-button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.modal-content {
  height: 600px;
  width: 800px;

}
.modal-body {
  height: 600px;
  width: 800px;
  
}

@keyframes titleMove
{
0% {font-size: 18px;}
50% {font-size: 21px;}
100% {font-size: 18px;}
}

@-webkit-keyframes titleMove /* Safari and Chrome */
{
0% {font-size: 18px;}
50% {font-size: 21px;}
100% {font-size: 18px;}
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}


.title {
    animation-name: titleMove;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: titleMove;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

.colors {
    animation-name: hue;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
     /* Safari and Chrome: */
    -webkit-animation-name: hue;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}


@media (max-width: $screen-xs-max) { }
@media (max-width: $screen-sm-max) { 
  #songs li {
    width: 70%;
    margin: 0 auto;
  }
  #songs {
    margin-top: 10px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }






