$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    background: url('../images/sheet.jpg') center fixed;
    color: #fafafa;
}
.header {
  display: table;
  height: 12em;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.list-group {
    list-style: none;
    overflow: scroll;
    height: 300px;
    color: black;
}

.container {
    width: 100%;
}

.container .row {

}
.container .row .col-md-4 {
    background: grey;
    border: 1px solid white;
}
.progress-bar {
    z-index: 1;
    height: 100%;
}

#skipper span {
    position: relative;
    display: inline-block;
    width: 1%;
    height: 100%;
}
#skipper {
    float: left;
    width: 100%;
    height: 100%;
}

#songs {
    overflow: hidden;
    height: 400px;
}
#youtube {
    overflow: hidden;
    height: 400px;
}
#myModal {
    width: 100%;
    height: 100%;
}
#test {
    height: 400px;
}
#expand {
    margin-top: -15px;
    margin-right: -15px;
}
#music {
    margin-top: -15px;
    margin-left: -15px;
}
#player {
   
}
#song-title {
    text-align: center;
}
li {
  
}
#grey {
    position: fixed;
    width: 0;
    height: 0;
}


@keyframes titleMove
{
0% {font-size: 18px;}
50% {font-size: 21px;}
100% {font-size: 18px;}
}

@-webkit-keyframes titleMove /* Safari and Chrome */
{
0% {font-size: 18px;}
50% {font-size: 21px;}
100% {font-size: 18px;}
}


.title {
    animation-name: titleMove;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: titleMove;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}








